.roterhintergrund {
    background-color: #8F1F1F;
    padding: 50px;
    
}

.blauerhintergrund {
    background-color: blue;
    padding: 50px;
    margin: 50px;
    background-size: 100% 100%;

}

